<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataWeek</title>
    <style>
        .slider {
            margin: 50px auto;
            box-sizing: border-box;
            width: 80%;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .btn {
            width: 100px;
            height: 50px;
            font-size: 1em;
            border: none;
            border-radius: 10px;
            background-color: lightblue;
        }

        .btn:hover {
            background-color: #7b88f7;
            color: white;
            cursor: pointer;
        }
        #main{
            margin: auto;
            text-align: center;
            padding-bottom: 15px;
            padding-left: 15px;
            width: 680px;
        }
        h1{
            font-family: saira;
            font-size:larger;
        } 
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div id="main">
        <!-- Prev / next button -->
        <div class="buttons">
            <button class="btn" onclick="prev()">Prev</button>
            <h1 id="title">Proportion hommes/femmes</h1>          
            <button class="btn" onclick="next()">Next</button>
        </div>
        <div class="slider">
            <!-- Graphes -->
                <canvas id="graph1" style="display:block"></canvas>
                <canvas id="graph2" style="display:none"></canvas>
                <canvas id="graph3" style="display:none; height:250px"></canvas>
                <canvas id="graph4" style="display:none; height:250px"></canvas>
        </div>
    </div>
    <script>
        async function getData(){
            const response = await fetch("/pictures");
            const data = await response.json();
            return data;
        }

        function setAgeRange(ages, agesRange, agesRangeLabels){
        
            let min = 0
            let max = 5
            for(let i = 0; i < 14; i++){
                currentAges = ages.filter(x => x <= max && x > min)
                if (currentAges.length > 0){
                    agesRange.push(currentAges.length)
                    agesRangeLabels.push("[" + min + "-" + max + "[")
                }
                min += 5
                max += 5
            }
        }

        let data = getData();
        let nbPpl
        let nbMan
        let nbWomen
        let averageAgeMan
        let averageAgeWomen
        let averageAge
        let emotions
        data.then(value => {
            nbPpl = value['nb_ppl']         
            nbMan = value['nb_man']        
            nbWomen = value['nb_women']   
            averageAgeMan = value['average_age_man']
            averageAgeWomen = value['average_age_women']
            averageAge = value['average_age']  
            ages = value['ages']
            agesRange = []
            agesRangeLabels = []
            setAgeRange(ages, agesRange, agesRangeLabels)
            emotions = value['emotions']
            happy_emotions = emotions.filter(x => x == 'happy')
            sad_emotions = emotions.filter(x => x == 'sad')
            neutral_emotions = emotions.filter(x => x == 'neutral')
            surprise_emotions = emotions.filter(x => x == 'surprise')
            anger_emotions = emotions.filter(x => x == 'anger')     

            //GRAP 1 --------------------------------------------------------------
            let ctx1 = document.getElementById("graph1").getContext('2d')       
            let dataGraph1 = {            
                labels : ['Homme', 'Femme'],           
                datasets: [{                 
                    data : [nbMan, nbWomen],                 
                    backgroundColor:[                       
                    'rgb(54, 162, 235)',                        
                    'rgb(255, 99, 132)'                        
                ],                      
                hoverOffset : 10                            
                }]
            }                
            let config1 = {                
                type : 'doughnut',                
                data: dataGraph1,              
                options:{                
                    responsive:true,              
                    plugins:{                 
                        title: {               
                            display: true,              
                            text: "Total : " + nbPpl + ""            
                        }              
                    }  
                }           
                                 
            };                  
            let graph1 = new Chart(ctx1, config1)

            //GRAP 2 --------------------------------------------------------------
            ctx2 = document.getElementById("graph2").getContext('2d')   
            console.log(agesRangeLabels)

            let dataGraph2 = {
                labels: ['Neutre', 'Content', 'Triste', 'Surpris', 'Enervé'],
                datasets:[{
                    data: [neutral_emotions.length, happy_emotions.length, sad_emotions.length, surprise_emotions.length, anger_emotions.length],
                    backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)'
                    ],
                    hoverOffset : 10 
                }]
            }

            let config2 = {                
                type : 'doughnut',                
                data: dataGraph2,              
                options:{                
                    responsive:true,              
                    plugins:{                 
                        title: {               
                            display: true,              
                            text: "Total : " + nbPpl + ""            
                        }              
                    }  
                }                     
            }; 

            let graph2 = new Chart(ctx2, config2)

            //GRAP 3 --------------------------------------------------------------
            ctx3 = document.getElementById("graph3").getContext('2d')   

            let dataGraph3 = {
                labels : ['Tous', 'Homme', 'Femme'],
                datasets:[{
                    label: 'Age moyen',
                    data:[averageAge, averageAgeMan, averageAgeWomen],
                    backgroundColor: ['rgb(54, 162, 235)'],
                    borderWidth: 1
                }]
            }
            
            
            let config3 = {
                type: 'bar',
                data: dataGraph3,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Moyennes des âges'
                        }
                    },
                    y: {
            min: 0,
            max: averageAge + 10,
            }
                }
            };
            let graph3 = new Chart(ctx3, config3)
 
            //GRAP 4 --------------------------------------------------------------
            ctx4 = document.getElementById("graph4").getContext('2d')   

            let dataGraph4 = {
                labels : agesRangeLabels,
                datasets:[{
                    label: "Tranches d'ages",
                    data: agesRange,
                    backgroundColor:['rgb(54, 162, 235)'],
                    borderWidth: 1
                }]
            }
            
            
            let config4 = {
                type: 'bar',
                data: dataGraph4,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                        }
                    },
                    y: {
            min: 0,
            max: averageAge + 10,
            },
            scale: {
                ticks: {
                    max:40
                }
    }

                }
                
            };

            let graph4 = new Chart(ctx4, config4)
        })

        // boutons précédents suivants
        let titles = ["Proportion hommes/femmes", "Emotions", "Différentes moyennes d'âge", "Tranches d'âges"]
        let i = 1; //current graph
        let iPrev = 4;

        function prev(){
            iPrev = i;
            if (i <= 1) i = 5;
            i--;
            return setGraphe();
        }

        function next(){
            iPrev = i;
            if (i >= 4) i = 0;
            i++;
            return setGraphe();
        }

        function setGraphe(){
            document.getElementById("title").innerHTML = titles[i-1];
            document.getElementById("graph"+i).style.display = "block";
            document.getElementById("graph"+iPrev).style.display = "none";
        }
    </script>
</body>
</html>
